# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local
.env.*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# coverage
coverage/

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
