@import "tailwindcss";

:root {
  --background: #f7f8fa;
  --foreground: #101218;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
